.container{
  padding: 5px;
  margin: 10px;
  border-radius: 5px;
  border: solid black;
}

.line{
  margin-top: 0;
  margin-bottom: 0;
}

.container{
  /*position: absolute;*/
 display: flex;
  justify-content: space-between;
  width: 100%;
}
.exit{
  flex-direction: column;
  display: flex;
}
