<div class="card-body container">
  <div>
    <p class="line">Internal id: {{car.internalId}}</p>
    <p class="line">Plate number: {{car.plateNumber}}</p>
    <p class="line">Car type: {{carType || 'None'}}</p>
    <p class="line">4X4: {{car.fourOnFour}}</p>
    <p class="line">Engine volume: {{car.engineVolume}}</p>
    <p class="line">Employee : {{employee || 'None'}}</p>
  </div>

  <div class="exit">
    <app-modal
      (userResponse)="verifyUserResponse($event)"
    ></app-modal>

    <button (click)="onClickViewCar()">View Car</button>

  </div>

</div>



