.input.ng-invalid{
  border-left: 5px solid red;
}
.input.ng-invalid{
  border-left: 5px solid green;
}
.warning{
  color: red;
}
#form-style{
  border: 1px solid gray;
  border-radius: 5px;
}
#in-line{
display: flex;
}
label{
  margin: 10px;
}
