.page-header{
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.item{
  margin: 10px;
}
.logo{
  margin-top: 20px;
}
#body-content{
  width: 60%;
  position: absolute;
  left: 20%;
}
