<div>
  <h6>Search by:</h6>
  <div>
    <input #PLATENUMBER (change)="OTHERFILTERS.checked = false" style="margin: 5px" type="radio">Plate Number:<br>
    <input #INPUT
           (keyup)="onInsertValues(INPUT.value)"
           [disabled]="!PLATENUMBER.checked"
           name="Car Type"
           type="text">
    <div *ngIf="onlyDigitsAllowedErrorMSG" class="error">Please insert only digits!</div>
  </div>
  <div>
    <button (click)="onClickGetCarByCarPlateNumber()"
            class="btn btn-outline-primary"
            [disabled]="!PLATENUMBER.checked">filter
    </button>
  </div>
  <br>


  <div>
    <input #OTHERFILTERS
           (change)="PLATENUMBER.checked = false"
           style="margin: 5px"
           type="radio"
    >other filters:<br>
  </div>
  <div>
    <label>4X4:</label>
    <input (change)="isFourOnFour = !isFourOnFour"
           [disabled]="!OTHERFILTERS.checked"
           name="4X4"
           type="checkbox">
  </div>
 <app-dropdown
   [items]="carTypes"
   (chosenItem)="chosenType=$event"></app-dropdown>
  <div>
    <button (click)="onGetCarsByFilters()"
            class="btn btn-outline-primary"
            [disabled]="!OTHERFILTERS.checked">filter
    </button>
  </div>
  <div *ngFor="let car of cars; let i = index">
    <app-car
      [car]="car"
    ></app-car>
    <br>
  </div>

</div>
